/* Sección Nosotros */
@import '../base/lists';

#nosotros {
    width: 100%;
    height: 100%;
    padding-bottom: 5%;
    font-family: nth($fonts, 3);
    color: nth($colores, 2);
    background-image: linear-gradient(rgba(5, 7, 12, 0.7), rgba(5, 7, 12, 0.7)), url(../images/fondo-sections.png);
    background-size: cover;
    background-position: left;

    h2, h3, h4 {
        display: flex;
        justify-content: start;
        width: 60%;
        margin: auto;
        padding: 20px 10px;
        font-size: 50px;
        font-weight: 900;
    }

    p {
        display: flex;
        justify-content: $align;
        width: 60%;
        margin: auto;
        padding: 20px 10px;
        font-size: 30px;
        font-weight: 500;
        text-align: justify; 
        transition: all 2s;

        &:hover {
            transform: scale(1.1);
        }
    }
}

// Media Querys - Mobile / Tablet

@media only screen and (min-width:320px) and (max-width:425px) {
    #nosotros {
        width: 100%;
        height: 100%;
        padding-bottom: 5%;
        font-family: nth($fonts, 3);
        color: nth($colores, 2);
        background-image: linear-gradient(rgba(5, 7, 12, 0.7), rgba(5, 7, 12, 0.7)), url(../images/fondo-sections.png);
        background-size: cover;
        background-position: left;
    
        h2, h3, h4 {
            display: flex;
            justify-content: start;
            width: 60%;
            margin: auto;
            padding: 20px 10px;
            font-size: 50px;
            font-weight: 900;
        }
    
        p {
            display: flex;
            justify-content: $align;
            width: 60%;
            margin: auto;
            padding: 20px 10px;
            font-size: 1em;
            font-weight: 500;
        }
    } 
}